<hr>
<div class="d-flex justify-content-around flex-wrap">
    <div>
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">jewel name</h5>
              <p class="card-text">jewel description</p>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
    </div>
    <div>
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">jewel name</h5>
              <p class="card-text">jewel description</p>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
    </div>
    <div>
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">jewel name</h5>
              <p class="card-text">jewel description</p>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
    </div>
    <div>
        <div class="card" style="width: 18rem;">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">jewel name</h5>
              <p class="card-text">jewel description</p>
              <a href="#" class="btn btn-primary">Add Cart</a>
            </div>
          </div>
    </div>
<hr>
</div>

